*{
    font-family: Meiryo, sans-serif;
}
section{
    margin-bottom: 50px;
}
.wrap{
    width: 960px;
    margin: 0 auto;
}
.clear{
    clear: both;
}
h1{
    color:#666;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
}
.mt20{margin-top: 20px;}
.mb20{margin-bottom: 20px;}
.q{
    font-family: Impact, sans-serif;
    padding-right: 5px;
    font-size: 1.2em;
    color:cornflowerblue;
}
.list01 li{
    float: left;
    margin:5px 20px;
    list-style: none;
}
.list01 li:hover,.list02 li:hover{
    cursor: pointer;
}
.list01 #yes{
    background: lightpink;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-radius: 5px;
}
.list01 #no{
    background: lightblue;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-radius: 5px;
}
#result,#result02{
    border:2px dotted coral;
    padding: 15px;
    color: #666;
}
#button:hover{
    cursor: pointer;
}
#dom-text{
    color: dodgerblue;
}
#button{
    border:none;
    background-color: #ff5151;
    border-bottom: 2px solid #a31515;
    color: #fff;
    font-size: 1rem;
    padding: 5px 20px;
    font-weight: normal;
    border-radius: 5px;
    margin-bottom: 20px;
}