#wrap{
    position: relative;
    width: 100%;
}
#nextBtn{
    position: absolute;
    top:0;
    right: 0;
    background: #78C2C4;
    color: #fff;
    border: none;
    font-size: 1em;
    font-weight: normal;
    height: 40px;
    width:80px;
    text-align: center;
    line-height: 40px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-family: Meiryo, sans-serif;
}
#nextBtn:hover{
    cursor: pointer;
}
#photo img{
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
}
#title{
    position: absolute;
    font-size: 1em;
    color: #fff;
    top: 10px;
    left: 20px;
}